@import "tailwindcss";

:root {
  --text: #090c06;
  --background: #fcfdfa;
  --primary: #96c448;
  --secondary: #c7e594;
  --accent: #b4e366;
  --lightorange: #ffb181;
}

  .blurred {
    filter: blur(5px);
  }

  @keyframes progress-animation {
    from {
      stroke-dasharray: 0 314;
    }
    to {
      stroke-dasharray: var(--progress-dasharray);
    }
  }

  .progress-circle {
    animation: progress-animation 2s ease-out forwards;
  }
